:root {
    --neutral-10: #11110D;
    --neutral-9: #414040;
    --neutral-8: #62625F;
    --neutral-7: #A6A39F;
    --neutral-6: #EAE6E0;
    --neutral-1: #F6F4F0;
    --neutral-0: #FAFAFA;
    --primary-10: #FFEDC2;
    --primary-300: #E69F1F;
}

:root.dark {

    --neutral-10: #f5f3f3;
    --neutral-9: #1d1d1d;
    --neutral-8: #EAE6E0;
    --neutral-7: #473e34;
    --neutral-6: #62625F;
    --neutral-1: #1C1C1A;
    --neutral-0: #11110D;
    --primary-10: #3B2A00;
    --primary-300: #FFC94D;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--neutral-6);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

ul {
    list-style-position: inside;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    overflow-x: hidden;
}

.header {
    background: var(--neutral-1);
    position: relative;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px 0px 40px;
}

.light-dark {
    text-align: end;
    font-size: 20px;
    padding-top: 40px;
    padding-right: 10px;
}

.ph {
    cursor: pointer;
    color: var(--neutral-10)
}

.header h2 {
    font-family: "Cinzel", sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--neutral-10)
}

.header .sub-title {
    font-family: "lucida console", sans-serif;
    font-size: 14px;
    color: var(--neutral-10);
    line-height: 20px;
    position: absolute;
    bottom: 5%;

}

.icons {
    margin-top: 8px;
}

.middle-content {
    max-width: 450px;
    left: 30%
}

.img-profile img {
    width: 100%;
}

.right-content {
    max-width: 235px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: var(--neutral-8);
    border-left-color: var(--neutral-7);
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 16px;
    border-radius: 1px;
}

.right-content a {
    color: var(--neutral-10);
    font-size: 25px;
}

.right-content p {
    font-size: 12px;
}

.right-content p:first-child {
    margin-bottom: 20px;
}

.one {
    padding: 8px;
    color: var(--neutral-0);
    background-color: var(--neutral-10);
}

.middle-box {
    display: flex;
    justify-content: center;
    position: relative;
}

.middle-left {
    flex: 1;
    padding: 40px;
    color: var(--neutral-9)
}

.middle-right {
    flex: 3;
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.middle-left {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.progress-bar {
    width: 100%;
    border: 1px solid #000;
    margin-top: 8px;
    border-radius: 12px;
}

.html-progress {
    width: 80%;
    height: 6px;
    background-color: var(--primary-300);
    border-radius: 10px;
}

.css-progress {
    width: 85%;
    height: 6px;
    background-color: var(--primary-300);
    border-radius: 10px;
}

.js-progress {
    width: 40%;
    height: 6px;
    background-color: var(--primary-300);
    border-radius: 10px;
}

.python-progress {
    width: 40%;
    height: 6px;
    background-color: var(--primary-300);
    border-radius: 10px;
}

.outsystem-progress {
    width: 20%;
    height: 6px;
    background-color: var(--primary-300);
    border-radius: 10px;
}

.vue-progress {
    width: 25%;
    height: 6px;
    background-color: var(--primary-300);
    border-radius: 10px;
}

.svelt-progress {
    width: 30%;
    height: 6px;
    background-color: var(--primary-300);
    border-radius: 10px;
}

.angular-progress {
    width: 15%;
    height: 6px;
    background-color: var(--primary-300);
    border-radius: 10px;
}

.react-progress {
    width: 10%;
    height: 6px;
    background-color: var(--primary-300);
    border-radius: 10px;
}

.skill p {
    color: var(--neutral-10)
}

.skill span {
    color: var(--neutral-7);
}

.box {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.box-title {
    font-size: 18px;
    max-width: 231px;
}

.box-title p:first-child {
    font-size: 12px;
    margin-bottom: 2px;
    color: var(--neutral-10)
}

.box-title p:last-child {
    font-weight: 600;
    color: var(--neutral-7);
    font-size: 12px;
}

.main-content {
    display: flex;
    flex-direction: column;
    max-width: 624px;
    overflow-x: hidden;
    row-gap: 16px;
    color: var(--neutral-10)
}

.main-content h2 {
    color: var(--neutral-9)
}

.pixel {
    display: flex;
    column-gap: 16px;
}

.pixel-box {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-family: 'inter', sans-serif;
    width: 100%;
    overflow-y: hidden;
}

.pixel-media {
    display: flex;
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.pixel-media p:first-child {
    font-style: italic;
    font-size: 14px;
}

.pixel-media p:last-child {

    font-size: 12px;
}

.pixel-box h2 {
    font-weight: 600;
    font-size: 14px;
}

.pixel-box p:last-child {
    font-size: 12px;
    line-height: 16px;
    color: var(--neutral-8);
}

.pixel-content {
    transition: 300ms;
    height: auto;
}

.pixel-content.hidden {
    max-height: 0;
    opacity: 0;
    transform: translateY(-70px)
}

.education-content {
    display: flex;
    column-gap: 16px;
}

.education-content h3 {
    margin-top: 2px;
    color: var(--neutral-9)
}

.education-text {
    display: block;
    width: 100%;
}

.education-text h3 {
    text-transform: uppercase;
    font-size: 14px;
}

.all-course {
    display: flex;
    column-gap: 40px;
    ;
}

.course-content {
    display: flex;
    max-width: 292px;
    justify-content: space-between;
    column-gap: 16px;
}

.course-text {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.course-text h3 {
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
}

.course-text .course-title .sub-title {
    color: var(--neutral-9);
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.course-text p:last-of-type {
    font-size: 12px;
    color: var(--neutral-8);
}

.course-content p:last-child {
    font-size: 12px;
    color: var(--neutral-8);
}

.course-content li {
    color: var(--neutral-8);
}

.hrs {
    white-space: nowrap;
}

.all-projects {
    display: flex;
    column-gap: 20px;
}

.project p {
    font-size: 12px;
    font-family: 'inter', sans-serif;
    letter-spacing: 0;
}

.banner-project img {
    border-radius: 8px;
    margin-bottom: 8px;
    min-width: 180px;
    max-width: 181px;
    height: 100px;
}

.footer {
    background-color: var(--neutral-10);
    color: var(--neutral-0)
}

.footer-content {
    padding: 40px
}

.swiper {
    position: relative;
    overflow: visible;
}

.swiper-wrapper {
    max-width: 600px;
}

.swiper-wrapper .swiper-slide {
    margin-right: 0 !important;
}

.swiper-slide {
    max-width: 250px;
    width: 100%;
}

.swiper-button-prev::after {
    position: absolute;
    top: 5px;
    ;
    right: 37px;
    font-size: 20px;
    color: var(--primary-300);
    font-weight: 600;
}

.swiper-button-next::after {
    position: absolute;
    top: 5px;
    ;
    left: 37px;
    font-size: 20px;
    color: var(--primary-300);
    font-weight: 600;
}

.right-box,
.mobile-position, .mobile-showing,.icons-mobile {
    display: none;
}

.screen-position{
    display: flex;
    flex-direction: column;
    align-items: center;
   row-gap: 20px;
}

@media (max-width: 1000px) {

    .box,
    .first,
    .screen-position {
        display: none;
    }

    .right-box,
    .mobile-position {
        display: flex;
        flex-direction: column;
        justify-items: center;
        row-gap: 16px;
    }

    .mobile-position {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 40px;
        margin-bottom: 40px;
        padding: 10px;
    }
}

@media (max-width: 700px) {
    .developer h2 {
        font-size: 24px;
    }

    .header .sub-title {
        font-size: 12px;
    }

    .right-content {
        display: none;
    }

    .icons-mobile {
        display: flex;
        position: absolute;
        right: 1%;
        bottom: 5%;
    }

    .ph {
        font-size: 25px;
    }

    .title {
        font-size: 16px;
    }

    .pixel-media {
        flex-direction: column;
    }

    .pixel-media p:first-child {
        font-size: 12px;
    }

    .pixel-media p:last-child {
        font-size: 9px;
    }

    .middle-left h2 {
        font-size: 16px;
    }

    .skill p {
        font-size: 14px;
    }

}

@media (max-width:600px) {
    .swiper-wrapper {
        max-width: 350px;
    }

    .education-content h3 {
        font-size: 14px;
    }

    .course-text .course-title .sub-title {
        font-size: 10px;
    }

    .course-text p:last-of-type {
        font-size: 9px;
    }

    ul li {
        font-size: 10px;
    }

    .course-content p:last-child {
        font-size: 10px;
    }

    .footer-content p {
        font-size: 12px;
    }

    @media (max-width: 500px) {
        .developer h2 {
            font-size: 20px;
        }

        .header .sub-title {
            font-size: 10px;
        }

        .icons-mobile {
            bottom: 10%;
        }

        .mobile-position .main-content .title {
            text-align: center;
        }

        .all-course {
            flex-direction: column;
            row-gap: 10px;
        }

        .middle-right {
            padding: 40px 5px;
        }

        .middle-left {
            padding: 40px 10px 40px 5px;
        }
        .ph{
            font-size: 20px;
        }

    }
}